<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8"/>
      <title>Nab Login Form</title>
      <script src="/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
      <script src="/js/index.js" th:src="@{/js/index.js}"></script>
      <link rel="icon" th:href="@{/img/nab-logo.jpg}" href="../img/nab-logo.jpg"/>
      <link rel="stylesheet" th:href="@{/css/style.css}" href="../../style.css"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
  </head>
<body>
  <div class="login-box" th:fragment="header">
    <div class="textbox">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" id="username" style="font-family: monospace;" placeholder="Username" name="" value=""/>
    </div>
    <div class="textbox">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <input type="text" id="email" style="font-family: monospace;" placeholder="Email" name="" value=""/>
    </div>
    <div class="textbox">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      <input type="password" id="passwd" style="font-family: monospace;" placeholder="Password" name="" value=""/>
    </div>
    <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" id="cpasswd" style="font-family: monospace;" placeholder="Confirm Password" name="" value=""/>
    </div>
    <input class="btn" id="signInForm" type="button" style="font-family: monospace;" name="" value="SignIn"/>
    <div>
    <br>
    <br>
    <div>
    <a id="alrdyUser" style="color:white;cursor:pointer;text-decoration:underline;font-size: 17px;">Already User</a>
    <a id="frgtPwd" style="color:white;cursor:pointer;text-decoration:underline;margin-left :50px;font-size: 17px;">Forget Password?</a>
    </div>
    
    </div>
    
  </div>
  <!-- <footer>
    <div class="middle">
      <a class="footer-btn" href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="footer-btn" href="#">
        <i class="fab fa-google"></i>
      </a>
      <a class="footer-btn" href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </footer> -->
</body>





</html>
