<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8"/>
      <title>Nab Login Form</title>
     <script src="/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
      <script src="/js/index.js" th:src="@{/js/index.js}"></script>
      <link rel="icon" th:href="@{/img/nab-logo.jpg}" href="../img/nab-logo.jpg"/>
      <link rel="stylesheet" th:href="@{/css/style.css}" href="../../style.css"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
  </head>
<body>
  <div class="login-box" th:fragment="header">
    <div class="textbox">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" style="font-family: monospace;" placeholder="Username" name="" value=""/>
    </div>
    <div class="textbox">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" style="font-family: monospace;" placeholder="Password" name="" value=""/>
    </div>
    <input class="btn" type="button" style="font-family: monospace;" name="" value="LogIn"/>
    <div>
    <a id="frgtPwd" style="color:white;cursor:pointer;text-decoration:underline;font-size: 17px;">Forget Password?</a>
    </div>
  </div>
</body>
</html>
